* {
  font-size: 18px;
}
body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.container {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

button {
  background-color: orangered;
  height: 62px;
  width: 62px;
  cursor: pointer;
  margin: 1px;
  padding: 5px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

input {
  width: 75%;
  height: 50px;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}

span {
  color: white;
  font-size: 60px;
}
